<div id="reward-view">
	Title: <%= reward.title %>
	<br />
	<h3> Pledge Amount:  <%= number_to_currency reward.amount %> </h3>


	<%= reward.description %><br />
	Total rewards at this level: <%= reward.backer_limit %>

	<%= form_tag project_pledges_path(reward.project) do %>
		<%= hidden_field_tag :reward_id, reward.id %>
		<%= submit_tag "Pledge #{number_to_currency reward.amount}" %>
	<% end %>
	<br>
</div>