<h1>Project <%= @project.name %></h1>

<p><b>Category:</b>
  <%= @project.category.name %>
</p>

<p><b>Description:</b>
	<%= @project.description %>
</p>

<p>Funding Goal: <%= @project.funding_goal %></p>
<p>Start date: <%= @project.start_date.to_date %></p>
<p>End date: <%= @project.end_date.to_date %></p>

Total Funding raised for far:

<div id ="rewards">

	<p><b>Rewards for <%= @project.name %></b></p>
	<p><%= render @project.rewards %></p>

</div>

<%= link_to 'Back', projects_path %>