<h1>Project <%= @project.name %></h1>

<p><b>Description:</b>
	<%= @project.description %>
</p>

<p>Funding Goal: <%= @project.funding_goal %></p>
<p>Start date: <%= @project.start_date %></p>
<p>End date: <%= @project.end_date %></p>

<div id ="reward">

<p><b>Pledge Rewards for <%= @project.name %></b></p>

</div>

<%= link_to 'Back', projects_path %>