<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="nav-bar">
    <%= link_to 'Create New Project', new_project_path %>
    <% if current_user %>
      <%= link_to "Edit Profile", edit_user_path(current_user) %>
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to "Register", new_user_path  %>
      <%= link_to "Log in", :login %>
    <% end %>
  </div>
  <div class="flashes">
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

<%= yield %>

</body>
</html>
